In [1]:
import os
import mysql.connector
import pandas as pd
import numpy as np

In [3]:
connection = mysql.connector.connect(host='<your host>', user='<your_username>', password='<your_password>')

In [6]:
cursor = connection.cursor()
cursor.execute('show databases')
for i in cursor:
    print(i)

('information_schema',)
('datamites_sql',)

In [7]:
connection = mysql.connector.connect(host='<your host>', user='<your_username>', password='<your_password>', database=
                                    '<your_data_base>')

In [8]:
db_tables = pd.read_sql_query('show tables', connection)
print(db_tables)

  Tables_in_datamites_sql
0                 Country
1               customers
2                    dept
3                     emp
4                  orders
5                products
6                salgrade

C:\Users\Admin\AppData\Local\Temp\ipykernel_18144\682653240.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  db_tables = pd.read_sql_query('show tables', connection)

In [10]:
query = 'select * from orders' # can change any query needed.
output = pd.read_sql_query(query, connection)
print(output.shape)
print(output)

(9, 6)
         order_id  order_date customer_id       product_id   sales  quantity
0  CA-2015-115812    6/9/2015    BH-11710  FUR-FU-10001487  48.860         7
1  CA-2017-105654  12/10/2017    BH-11710  FUR-TA-10000577  71.530         3
2  CA-2017-138688   6/12/2017    DV-13045  OFF-LA-10000240  14.620         2
3  CA-2017-152156   11/8/2017    CG-12520  FUR-BO-10001798  58.960         2
4  CA-2018-109265    2/8/2018    BH-11710  OFF-LA-10000240  14.620         5
5  CA-2018-109862    4/9/2018    DV-13045  OFF-PA-10002365  15.552         1
6  CA-2018-112417    6/8/2018    SO-20335  OFF-PA-10002365  15.552         2
7  CA-2018-114412   4/11/2018    AA-10480  OFF-PA-10002365  15.552         3
8  US-2016-108966  10/11/2017    SO-20335  FUR-TA-10000577  69.650         5

C:\Users\Admin\AppData\Local\Temp\ipykernel_18144\4291407193.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  output = pd.read_sql_query(query, connection)